# Importando bibliotecas e dataframe

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/ericcandido/nfl_stats/refs/heads/main/team_stats_2003_2023.csv')
df.head()

,year,team,wins,losses,win_loss_perc,points,points_opp,points_diff,mov,g,...,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot,ties
0,2003,New England Patriots,14,2,0.875,348,238,110,6.9,16,...,9,3.4,91,111,998,26,27.9,11.3,-136.51,NaN
1,2003,Miami Dolphins,10,6,0.625,311,261,50,3.1,16,...,14,3.7,99,103,913,22,28.1,17.2,-177.92,NaN
2,2003,Buffalo Bills,6,10,0.375,243,279,-36,-2.3,16,...,13,3.9,96,106,891,22,21.9,17.6,-230.07,NaN
3,2003,New York Jets,6,10,0.375,283,299,-16,-1.0,16,...,8,4.0,78,69,550,15,32.4,11.8,-107.89,NaN
4,2003,Baltimore Ravens,10,6,0.625,391,281,110,6.9,16,...,18,4.8,115,126,970,23,31.8,16.6,-220.50,NaN

# Análise exploratória

In [ ]:
# Definindo informações do dataframe
df.info()
# mov = average margin of victory
# g = games

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  672 non-null    int64
 1   team                  672 non-null    object
 2   wins                  672 non-null    int64
 3   losses                672 non-null    int64
 4   win_loss_perc         672 non-null    float64
 5   points                672 non-null    int64
 6   points_opp            672 non-null    int64
 7   points_diff           672 non-null    int64
 8   mov                   352 non-null    float64
 9   g                     672 non-null    int64
 10  total_yards           672 non-null    int64
 11  plays_offense         672 non-null    int64
 12  yds_per_play_offense  672 non-null    float64
 13  turnovers             672 non-null    int64
 14  fumbles_lost          672 non-null    int64
 15  first_down            672 non-null    int64
 16  pass_cmp              672 non-null    int64
 17  pass_att              672 non-null    int64
 18  pass_yds              672 non-null    int64
 19  pass_td               672 non-null    int64
 20  pass_int              672 non-null    int64
 21  pass_net_yds_per_att  672 non-null    float64
 22  pass_fd               672 non-null    int64
 23  rush_att              672 non-null    int64
 24  rush_yds              672 non-null    int64
 25  rush_td               672 non-null    int64
 26  rush_yds_per_att      672 non-null    float64
 27  rush_fd               672 non-null    int64
 28  penalties             672 non-null    int64
 29  penalties_yds         672 non-null    int64
 30  pen_fd                672 non-null    int64
 31  score_pct             672 non-null    float64
 32  turnover_pct          672 non-null    float64
 33  exp_pts_tot           672 non-null    float64
 34  ties                  320 non-null    float64
dtypes: float64(9), int64(25), object(1)
memory usage: 183.9+ KB

In [ ]:
# Visualizando as primeiras linhas do df
df.head(10)

,year,team,wins,losses,win_loss_perc,points,points_opp,points_diff,mov,g,...,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot,ties
0,2003,New England Patriots,14,2,0.875,348,238,110,6.9,16,...,9,3.4,91,111,998,26,27.9,11.3,-136.51,NaN
1,2003,Miami Dolphins,10,6,0.625,311,261,50,3.1,16,...,14,3.7,99,103,913,22,28.1,17.2,-177.92,NaN
2,2003,Buffalo Bills,6,10,0.375,243,279,-36,-2.3,16,...,13,3.9,96,106,891,22,21.9,17.6,-230.07,NaN
3,2003,New York Jets,6,10,0.375,283,299,-16,-1.0,16,...,8,4.0,78,69,550,15,32.4,11.8,-107.89,NaN
4,2003,Baltimore Ravens,10,6,0.625,391,281,110,6.9,16,...,18,4.8,115,126,970,23,31.8,16.6,-220.50,NaN
5,2003,Cincinnati Bengals,8,8,0.500,346,384,-38,-2.4,16,...,12,4.1,101,107,846,31,33.3,11.1,-78.22,NaN
6,2003,Pittsburgh Steelers,6,10,0.375,300,327,-27,-1.7,16,...,10,3.3,77,111,1005,24,27.1,13.5,-166.93,NaN
7,2003,Cleveland Browns,5,11,0.313,254,322,-68,-4.3,16,...,8,4.1,91,98,767,32,26.7,17.2,-191.88,NaN
8,2003,Indianapolis Colts,12,4,0.750,447,336,111,6.9,16,...,16,3.7,104,92,662,32,46.3,10.2,-13.96,NaN
9,2003,Tennessee Titans,12,4,0.750,435,324,111,6.9,16,...,11,3.3,84,110,887,15,39.4,9.6,-103.79,NaN

In [ ]:
df.shape
# df.shape mostra consecutivamente linhas/rows e colunas/columns

(672, 35)

In [ ]:
df['team'].value_counts()

team
New England Patriots        21
Miami Dolphins              21
Buffalo Bills               21
New York Jets               21
Baltimore Ravens            21
Cincinnati Bengals          21
Pittsburgh Steelers         21
Cleveland Browns            21
Indianapolis Colts          21
Tennessee Titans            21
Jacksonville Jaguars        21
Houston Texans              21
Kansas City Chiefs          21
Denver Broncos              21
Philadelphia Eagles         21
New York Giants             21
Dallas Cowboys              21
Green Bay Packers           21
Detroit Lions               21
Chicago Bears               21
Minnesota Vikings           21
Arizona Cardinals           21
San Francisco 49ers         21
Atlanta Falcons             21
Carolina Panthers           21
New Orleans Saints          21
Tampa Bay Buccaneers        21
Seattle Seahawks            21
Oakland Raiders             17
Washington Redskins         17
San Diego Chargers          14
St. Louis Rams              13
Los Angeles Rams             8
Los Angeles Chargers         7
Las Vegas Raiders            4
Washington Football Team     2
Washington Commanders        2
Name: count, dtype: int64

In [ ]:
df['year'].value_counts()

year
2003    32
2004    32
2005    32
2006    32
2007    32
2008    32
2009    32
2010    32
2011    32
2012    32
2013    32
2014    32
2015    32
2016    32
2017    32
2018    32
2019    32
2020    32
2021    32
2022    32
2023    32
Name: count, dtype: int64

In [ ]:
renomear_colunas = {
    'g': 'games',
    'mov': 'margin_victory'
}
df.rename(columns = renomear_colunas, inplace = True)
df.columns

Index(['year', 'team', 'wins', 'losses', 'win_loss_perc', 'points',
       'points_opp', 'points_diff', 'margin_victory', 'games', 'total_yards',
       'plays_offense', 'yds_per_play_offense', 'turnovers', 'fumbles_lost',
       'first_down', 'pass_cmp', 'pass_att', 'pass_yds', 'pass_td', 'pass_int',
       'pass_net_yds_per_att', 'pass_fd', 'rush_att', 'rush_yds', 'rush_td',
       'rush_yds_per_att', 'rush_fd', 'penalties', 'penalties_yds', 'pen_fd',
       'score_pct', 'turnover_pct', 'exp_pts_tot', 'ties'],
      dtype='object')

In [ ]:
df.describe()

,year,wins,losses,win_loss_perc,points,points_opp,points_diff,margin_victory,games,total_yards,...,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot,ties
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,352.000000,672.000000,672.000000,...,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,320.000000
mean,2013.000000,8.050595,8.050595,0.500246,358.633929,358.633929,0.000000,-0.001136,16.139881,5463.895833,...,13.462798,4.199554,99.775298,101.494048,849.501488,27.889881,34.093304,12.561756,-35.937113,0.081250
std,6.059811,3.093255,3.086020,0.191452,72.092050,57.889328,100.684601,6.313288,0.347122,628.209466,...,5.170285,0.440718,20.837354,16.145851,146.167034,7.251892,6.730800,3.206515,120.556255,0.273647
min,2003.000000,0.000000,0.000000,0.000000,168.000000,201.000000,-261.000000,-16.300000,16.000000,3587.000000,...,2.000000,3.100000,53.000000,55.000000,415.000000,9.000000,16.400000,4.000000,-358.270000,0.000000
25%,2008.000000,6.000000,6.000000,0.375000,305.000000,316.750000,-75.000000,-4.700000,16.000000,5030.250000,...,10.000000,3.900000,84.000000,91.000000,751.750000,23.000000,29.200000,10.200000,-124.015000,0.000000
50%,2013.000000,8.000000,8.000000,0.500000,359.000000,356.500000,-1.000000,0.000000,16.000000,5467.500000,...,13.000000,4.200000,98.000000,102.000000,852.500000,27.000000,33.900000,12.400000,-40.970000,0.000000
75%,2018.000000,10.000000,10.000000,0.625000,406.000000,398.000000,75.250000,4.625000,16.000000,5900.250000,...,17.000000,4.500000,112.250000,112.000000,941.250000,33.000000,38.800000,14.800000,49.795000,0.000000
max,2023.000000,16.000000,16.000000,1.000000,606.000000,519.000000,315.000000,19.700000,17.000000,7474.000000,...,32.000000,5.500000,188.000000,163.000000,1358.000000,50.000000,52.700000,25.000000,298.140000,1.000000

# Limpando e preparando dados

In [ ]:
df.isnull()

,year,team,wins,losses,win_loss_perc,points,points_opp,points_diff,margin_victory,games,...,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot,ties
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
668,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
669,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
670,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [ ]:
df.isnull().sum()

year                      0
team                      0
wins                      0
losses                    0
win_loss_perc             0
points                    0
points_opp                0
points_diff               0
margin_victory          320
games                     0
total_yards               0
plays_offense             0
yds_per_play_offense      0
turnovers                 0
fumbles_lost              0
first_down                0
pass_cmp                  0
pass_att                  0
pass_yds                  0
pass_td                   0
pass_int                  0
pass_net_yds_per_att      0
pass_fd                   0
rush_att                  0
rush_yds                  0
rush_td                   0
rush_yds_per_att          0
rush_fd                   0
penalties                 0
penalties_yds             0
pen_fd                    0
score_pct                 0
turnover_pct              0
exp_pts_tot               0
ties                    352
dtype: int64

In [ ]:
df['margin_victory'].unique()

array([  6.9,   3.1,  -2.3,  -1. ,  -2.4,  -1.7,  -4.3,  -3.4,  -7.8,
         9.5,   5. ,  -6.8,  -8. ,   5.4,   1.8,  -5.3,  -9. ,   8.4,
         3.9,  -3.9,   1.3,   0.9,   2.3,  -7.7,   7.4,   4.8,   2.9,
       -14.2,  11.1,   4.5,  -4.9,   7.6,   0.1,  -7.1,  10.7,  -1.2,
        -1.9,  -5.9,   8.3,   3. ,  -7.6,   7.9,  -2.8,  -7. ,  -1.6,
         2.8,   0.6,  -6.3,   0.2,  -3.6,   1. ,  -0.2,  -0.1,  -4.6,
       -12.1,   2.6,  -6. ,  -7.2,   4.4,   8.2,  -2.1,  12. ,   5.8,
       -10.7,   8.6,   4.9,   6.6,  -5.8,   6.8,   4.1,   1.1,   3.6,
        -5.7,  -2.9,   1.6, -10.2,  11.3,  -4.1,  -4.8, -11.8,   9.3,
        -0.7,  -1.4,   2.4,  -7.4,   4.2,   6.1,  -6.2,  11.8, -10.3,
         4.7,  -0.4,  10.8,   5.7,  -2.2,  -8.9,  -0.9,  -4.7,  19.7,
        -6.4,  -5.4, -10.6,   7.8,  -0.3,   6.7,   0.3,   8. ,  -5.6,
         8.1,   1.4,   1.5,   9. ,   3.4,  -6.1,   4. ,  -5. ,  -0.6,
        -9.7,   6.4,  -9.1, -10.9,   nan,   8.9,   7. ,  -8.1,  -3. ,
       -11.4,  -4.4,   9.9,  10.3, -14.5,  10.6,   0.4,  -9.8,  -6.9,
       -16.3,  12.8,  -3.8,   2.5,  -7.9,  -2.6,  -4.2, -13.3,   0.5,
       -11.7,  -5.1,   4.3,  12.6,   0.8,  13. ,   3.3, -12.9,   9.4,
       -13.4,   4.6,   8.8,   6.5,  -9.6,  -4.5,   3.7,  -2.5,  -3.3,
        11. ,   9.1,  -3.1,  -9.3,  10.1,  -3.7, -11. ,  -8.8,   5.2,
         2.1,  -4. ,  -3.5,   6.2,  11.9,   2. ,  -1.1,  11.4,  -8.3,
       -11.1,   1.9])

In [ ]:
df[df.isnull().any(axis = 1)]

,year,team,wins,losses,win_loss_perc,points,points_opp,points_diff,margin_victory,games,...,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot,ties
0,2003,New England Patriots,14,2,0.875,348,238,110,6.9,16,...,9,3.4,91,111,998,26,27.9,11.3,-136.51,NaN
1,2003,Miami Dolphins,10,6,0.625,311,261,50,3.1,16,...,14,3.7,99,103,913,22,28.1,17.2,-177.92,NaN
2,2003,Buffalo Bills,6,10,0.375,243,279,-36,-2.3,16,...,13,3.9,96,106,891,22,21.9,17.6,-230.07,NaN
3,2003,New York Jets,6,10,0.375,283,299,-16,-1.0,16,...,8,4.0,78,69,550,15,32.4,11.8,-107.89,NaN
4,2003,Baltimore Ravens,10,6,0.625,391,281,110,6.9,16,...,18,4.8,115,126,970,23,31.8,16.6,-220.50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,2023,Carolina Panthers,2,15,0.118,236,416,-180,-10.6,17,...,7,4.0,111,103,845,36,25.0,11.1,-135.03,NaN
668,2023,San Francisco 49ers,12,5,0.706,491,298,193,11.4,17,...,27,4.8,147,101,933,29,45.3,10.1,231.48,NaN
669,2023,Los Angeles Rams,10,7,0.588,404,377,27,1.6,17,...,18,4.3,110,89,720,35,41.1,9.2,133.32,NaN
670,2023,Seattle Seahawks,9,8,0.529,364,402,-38,-2.2,17,...,11,4.1,93,111,954,35,38.8,8.4,62.33,NaN
671,2023,Arizona Cardinals,4,13,0.235,330,455,-125,-7.4,17,...,17,5.0,127,101,859,30,35.0,9.4,-2.99,NaN

In [ ]:
df['ties'].unique()

array([nan,  0.,  1.])

In [ ]:
# Preenchendo as células nulas de 'tie' com um valor fixo
df['ties'] = df['ties'].fillna('não informado')
# Melhor subsituir por 'não informado' ou 0 ?
df['ties'].unique()

array(['não informado', 0.0, 1.0], dtype=object)